// Variables
@import "variables";

// Component syles
@import "react-star-rating";
@import "react-select";
@import "react-bootstrap-slider";
@import "react-date-picker";

@import "react-draft";

// Form builder styles
@import "form-builder";
@import "form-builder-form";

.CheckBoxField {
  display: flex;
  justify-content: space-around;
}
.UsersPremission {
  font-size: 13.5;
  padding-top: 20px;
  color: rgba(17, 76, 113, 1);
}

.CheckButton {
  border-bottom: solid rgba(89, 89, 89, 1);
  box-shadow: none !important;
  border-radius: 0%;
  font-family: "Nunito";
  outline: none !important;
  box-shadow: none !important;
}
